html {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 80px;
}

body {
  background-image: url('http://i.imgur.com/1vL0jj7.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.nav {
  background: rgba(218, 29, 27, .5);
  padding: 50px;
  height: 100px;
}

.nav-title {
  color: rgba(217, 229, 214, 1);
  font-family: 'Avant Garde', Avantgarde, sans-serif;
  font-size: 102px;
}

.container {
	margin: 0 auto;
	width: 100%;
}

form {
  width: 100%;
}

input {
  width: 100%;
}

button {
  border-radius: 6px solid;
  padding: 10px 16px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

h1 {
  color: rgba(33, 11, 46, 1);
}

h2 {
  color: rgba(33, 11, 44, 1);
}
